*:not(img) {
	border-radius: 1px !important;
}

i {
	text-align: center;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset !important;
}
input[type=text], input[type=email], input[type=number], textarea, select  {
	border: none !important;
	border-bottom: 2px solid #ebebeb !important;
} 


#image {
	max-width: 568px;
	height: auto;
	width: 568px;
}
#mask { cursor: wait;  }

/*loading */
.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50% !important;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

div.center {
       position: absolute;
       top: 0;
       left: 0;
       bottom: 0;
       right: 0;
       margin: auto;
  }

/*loading /> */







/*==============================================================x2298q===================================================*/

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}


.bg-color-white {
	background-color: white;
}
.form-group.has-success .form-control, .form-group.has-success .input-group-addon {
    border: none;
    border-bottom: 3px solid #00a65a;
}

.form-group.has-error .form-control, .form-group.has-error .input-group-addon {
    border: none;
    border-bottom: 3px solid #dd4b39;
}







/*=======================imp=============================imp================================imp====================*/
/*=======================imp=============================imp================================imp====================*/
/*=======================imp=============================imp================================imp====================*/

 .help-block-new {
 	@help-block
 }
 
/*=======================imp=============================imp================================imp====================*/
/*=======================imp=============================imp================================imp====================*/
/*=======================imp=============================imp================================imp====================*/